$base-color: #2489f3;
$font-color: #c1c6cd;

/**Popup样式**/
.fr-popup {
  border-top: 5px solid #222 !important;
  border-radius: 0;

  .fr-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #222;
    position: absolute;
    top: -9px;
    //left: 50px;
    left: 50%;
    margin-left: -5px;
    display: inline-block;
  }
}

/**图片样式**/
.fr-view img.fr-dii.fr-fil {
  object-fit: contain;
}

/**下拉框样式**/
.select-focus {
  max-width: 146px;
  line-height: 14px;
  font-size: 12px;
  display: inline-block;
  outline: none;
  border: 1px solid #eeeeee;
  color: #001330;
  text-align: center;

  &:focus {
    border: 1px solid $base-color;
  }

  &::placeholder {
    color: $font-color;
  }
}

.fr-popup .fr-image-upload-layer .fr-form input {
  width: 100% !important;
}

.color-select {
  input {
    width: 60px !important;
  }
}


/**下拉选样式**/
.select-item-warper-x {
  max-width: 153px;
  width: 153px;
  transform-origin: center top;
  z-index: 2047;
  font-size: 13px;
  list-style: none;
  background-color: #fff;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 0;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  position: absolute;

  &::before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 21%;
  }

  .select-item-x {
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    user-select: none;
    color: #606266;

    &:hover {
      background: #f5f7fa;
    }
  }
}

.active-select {
  color: $base-color !important;

  &::after {
    content: '√';
    position: absolute;
    right: 12px;
    font-weight: bold;
  }
}

/**身份证样式**/
.param-person {
  .person-card-item {
    outline: none;
    width: 16px;
    height: 18px;
    text-align: center;
    margin-right: 5px;
    border: 1px solid #333;

    &:focus {
      border-color: $base-color;
    }
  }
}

